.carousel-item {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.social_div {
    margin-left: 3%;
    margin-right: 3%;

}

@media screen and (min-width: 1000px) {
    .twitter_div {
        margin-top: 5%;
        width: 49%;
        float: right;
    }
    
    .instagram_div {
        margin-right: 2%;
        width: 49%;
        float: left;
    }

    .social_div {
        margin-top: 0%;
    }
}