@font-face {
    font-family: 'futurama-font';
    src: url('../fonts/Trek_Movie_1.ttf')
}

h1 {
    font-family: futurama-font
}

body {
    background-image: url("../images/ultra-violet-deep-field.jpg");
    text-align: center;
    word-wrap: break-word;
}

.display-4 {
    size: 5pt;
}

.jumbotron {
    background: rgba(221, 215, 255, 0.9);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.embeds {
    text-align: center;
}

.embed_small {
    width: 100%;
    margin-bottom: 3%;
}

.resume_small {
    display: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.embed_large {
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.resume_large {
    display: inline-block;
}

@media screen and (min-width: 1000px) {
    .jumbotron {
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
        padding: 1%;
    }

    .title_image {
        margin-right: 3%;
        width: 40%;
        float: left;
    }

    .float_right_large {
        float: right;
    }

    .twitter_div {
        width: 49%;
        float: left;
    }

    .instagram_div {
        width: 49%;
        float: right;
    }
}

@media screen and (max-width: 991px) {
    .resume_small {
        display: inline-block;
    }

    .resume_large {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .title_image {
        margin: 0 auto;
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 220%;
    }
}

@media screen and (min-width: 600px) {
    .navbar-brand {
        font-size: 285%;
    }
}

.hyperlight {
    color: rgb(105, 144, 180);
}

.page-item {
    color: red;
}


@media screen and (min-width: 1700px) {
    .display-4 {
        font-size: 750%;
    }
}