@font-face {
    font-family: 'futurama-font';
    src: url('/utilities/fonts/Trek_Movie_1.ttf')
}

h1 {
    font-family: futurama-font
}

body {
    background-image: url("../images/ultra-violet-deep-field.jpg");
    text-align: center;
    word-wrap: break-word;
}

.display-3 {
    size: 5pt;
}

.jumbotron {
    background: rgba(221, 215, 255, 0.9);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

@media screen and (min-width: 1000px) {
    .jumbotron {
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .title_image {
        margin: 0 auto;
        width: 40%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .title_image {
        margin: 0 auto;
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 220%;
    }
}

@media screen and (min-width: 600px) {
    .navbar-brand {
        font-size: 285%;
    }
}

.hyperlight {
    color: rgb(105, 144, 180);
}