.navbar-nav .nav-item {
    padding-left: 8pt;
    font-size: 125%;
}

.navbar {
    min-height: 80px;
    background: rgba(135, 190, 241, 0.9);
}

.dropdown-menu {
    background: rgba(221, 215, 255, 1);
}